body{
    background-color: #D5D5D5;
    color: #000000;
}

#app-content{
    margin-top: 20px;
}

.card:hover{
    background-color: darkorange;
}

#site-map{
    background-color: #DDDDDD;
}
.site-link:link,.site-link:visited,.site-link:hover{
    color:violet;
    background-color: transparent;
    text-decoration: none;
}
.exlinks{
    text-decoration: none; 
    color: inherit;
}
.exlinks:hover{
    transform: scale(1.10);
    box-shadow: 0 10px 20px rgba(0,0,0,0.12px), 0 4px 8px rgba(0,0,0,0.06px);
    color:purple;
}
#footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:180px;   /* Height of the footer */
}